body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

main {
	flex: 1 0 auto;
}

tbody {
	display:block;
	height:530px;
	overflow:auto;
}

thead, tbody tr {
	display:table;
	width:100%;
	table-layout:fixed;
}

thead {
	width: calc( 100% - 1em )
}

table {
	width:100%;
}

.partitioned {
	padding-left: 15px;
	letter-spacing: 42px;
	border: 0;
	background-image: linear-gradient(to left, black 70%, rgba(255, 255, 255, 0) 0%);
	background-position: bottom;
	background-size: 50px 1px;
	background-repeat: repeat-x;
	background-position-x: 35px;
	width: 220px;
  }